h3{
	font-size: 15px;
	font-weight: normal;
	display: inline;
	position: relative;
	left: 20%;
}
.sign{
	position: absolute;
	left:70%;
	top: 1%;
	float: left;
	display: inline;
	border-radius: 3px;
	border: 0;
	padding: 6px;
	background-color:#13A2D5;
	color:#FEFDFD;
}

.sign1{
	position: absolute;
	left:57%;
	top: 65%;
	float: left;
	display: inline;
	border-radius: 3px;
	border: 0;
	padding: 6px;
	background-color:#13A2D5;
	color:#FEFDFD;
}

.sign2{
	position: absolute;
	left:57%;
	top: 57%;
	float: left;
	display: inline;
	border-radius: 3px;
	border: 0;
	padding: 6px;
	background-color:#13A2D5;
	color:#FEFDFD;
}

.signin_email{
	position: absolute;
	width: 250px;
	right:43%;
	bottom: 26%;
	float:right;
	display: inline;
	border-radius: 3px;
	border: 0;
	padding: 5px;
	color:#FEFDFD;
}

.signin_email1{
	position: absolute;
	width: 250px;
	right:43%;
	bottom: 26%;
	float:right;
	display: inline;
	border-radius: 3px;
	border: 0;
	padding: 5px;
	color:#FEFDFD;
}

.box_head{
	width: 100%;
	height: 300px;
	background:#808080;
	position: relative;
	top:10px;
}

.box1{
    width: 100%;
	height: 180px;
	background:#F5F3F3;
	position: relative;
	top:0px;	
}

.box2{
    width: 50%;
	height: 220px;
	background:white;
	position: relative;
	top:0px;	
}

.box3{
    width: 50%;
	height: 220px;
	position: relative;
	bottom:220px;	
	left:50%;
}

.box4{
    width: 50%;
	height: 220px;
	position: relative;
	bottom:220px;	
	left:0%;
}

.box5{
    width: 50%;
	height: 220px;
	left: 50%;
	background:white;
	position: relative;
	bottom: 440px;	
}

.box6{
    width: 50%;
	height: 220px;
	left:0%;
	background:white;
	position: relative;
	bottom:440px;	
}

.box7{
    width: 50%;
	height: 220px;
	position: relative;
	bottom:660px;	
	left:50%;
}

.box8{
	width: 100%;
	height: 300px;
	background:#F5F3F3;
	position: relative;
	bottom: 660px;
}

.box_foot{
	width: 100%;
	height: 160px;
	background:#808080;
	position: relative;
	bottom: 660px;
}

.end {
	width: 100%;
	height: 90px;
	background:white;
	position: relative;
	bottom: 676px;
}

.box_head p{
	position: absolute;
	top:20px;
	left: 31%;
	text-align: center;
	font-size: 25px;
	color:white;
    padding: 50px;
}


.monitor p{
	position: absolute;
	top: 35px;
	right:68%;
	text-align: center;
	font-size: 15px;
	font-family: verdana;
	color:black;
    padding: 50px;
}


.sobrepuesto p{
	position: absolute;
	top:35px;
	left: 38%;
	text-align: center;
	font-size: 15px;
	font-family: verdana;
	color:black;
    padding: 50px;
}

.hecho p{
	position: absolute;
	top:35px;
	left: 68%;
	text-align: center;
	font-size: 15px;
	font-family: verdana;
	color:black;
    padding: 50px;
}

.box2 p{
	position: absolute;
	top:25px;
	left:3%;
	text-align: left;
	font-size: 15px;
	font-family: verdana;
	color:black;
    padding: 50px;
}

.box5 p{
	position: absolute;
	top:25px;
	left:3%;
	text-align: left;
	font-size: 15px;
	font-family: verdana;
	color:black;
    padding: 50px;
}

.box6 p{
	position: absolute;
	top:25px;
	left:3%;
	text-align: left;
	font-size: 15px;
	font-family: verdana;
	color:black;
    padding: 50px;
}

.mujer p{
	position: absolute;
	top:160px;
	left:17%;
	text-align: left;
	font-size: 12px;
	font-family: verdana;
	color:black;
    padding: 50px;
}

.hombre p{
	position: absolute;
	top:160px;
	left:36.5%;
	text-align: center;
	font-size: 12px;
	font-family: verdana;
	color:black;
    padding: 50px;
}

.mujer1 p{
	position: absolute;
	top:160px;
	left:58%;
	text-align: left;
	font-size: 12px;
	font-family: verdana;
	color:black;
    padding: 50px;
}

.box_foot p{
	position: absolute;
	bottom: 10px;
	left: 35%;
	text-align: center;
	font-size: 21px;
	color:white;
    padding: 50px;
}


.monitor img{
	position: absolute;
	left: 18%;
	top: 35px;
	width: 35px;
	height: 35px;
}

.sobrepuesto img{
	position: absolute;
	left: 50.5%;
	top: 35px;
	width: 35px;
	height: 35px;
}

.hecho img{
	position: absolute;
	left: 81%;
	top: 35px;
	width: 35px;
	height: 35px;
}

.box3 img{
	width: 100%;
	height: 220px;
}

.box4 img{
	width: 100%;
	height: 220px;
}

.box7 img{
	width: 100%;
	height: 220px;
}

.mujer img{
	position: absolute;
	left: 26%;
	top: 90px;
	width: 100px;
	height: 100px;
}

.hombre img{
	position: absolute;
	left: 45%;
	top: 80px;
	width: 130px;
	height: 130px;
}

.mujer1 img{
	position: absolute;
	left: 65%;
	top: 90px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.face img{
position: absolute;
	left: 65%;
	top: 25px;
	width: 30px;
	height: 30px;
}

.twitter img{
	position: absolute;
	left: 68.2%;
	top: 28px;
	width: 24px;
	height: 24px;
}

.insta img{
	position: absolute;
	left: 71%;
	top: 27px;
	width: 25px;
	height: 25px;
}

.monitor h3 {
	position: absolute;
	left: 14%;
	top: 60px;
	font-family: verdana;
	font-weight: bold;
}

.sobrepuesto h3 {
	position: absolute;
	left: 50%;
	top: 30%;
	font-family: verdana;
	font-weight: bold;
}

.hecho h3 {
	position: absolute;
	left: 79%;
	top: 30%;
	font-family: verdana;
	font-weight: bold;
}

.box2 h3{
	position: absolute;
	left: 67px;
	top: 40px;
	font-family: verdana;
	font-weight: bold;
	text-align: left;
}

.box5 h3{
	position: absolute;
	left: 67px;
	top: 40px;
	font-family: verdana;
	font-weight: bold;
	text-align: left;
}

.box6 h3{
	position: absolute;
	left: 67px;
	top: 40px;
	font-family: verdana;
	font-weight: bold;
	text-align: left;
}

.box8 h3{
	top: 30px;
	left:560px;
    position: absolute;
	font-family: verdana;
	font-weight: bold;
}

.mujer h4{
	position: absolute;
	left: 26.9%;
	top: 180px;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	text-align: left;
}

.hombre h4{
	position: absolute;
	left: 48.3%;
	top: 180px;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	text-align: left;
}

.mujer1 h4{
	position: absolute;
	left: 66.5%;
	top: 180px;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	text-align: left;
}

.end h4{
	position: absolute;
	left: 20.5%;
	top: 30px;
	font-size: 10px;
	font-family: verdana;
	text-align: left;
}


.end li{
	position: relative;
	left: 18%;
	top: 20px;
	display: inline-block;
	color: #56B0E8;
	font-family: verdana;
	font-size: 10px;
	padding: 5px;
	border:0;
	list-style-type:circle;
}

